@media(min-width: 1200px) {
    body {
        .p-toast {
            width: 780px;
            font-size: 32px;
            line-height: 70px;
    
            .p-toast-message {
    
                .p-toast-message-content {
        
                        .p-toast-message-text {
                            width: 750px;
                        }
                    }
                .p-toast-close-button {
                    top: 20px;
                    right: 15px;
                }
                .p-toast-close-button svg {
                    width: 32px;
                    height: 32px;
                }
            }
        }
        .header {
            padding: 21px 64px;
        }
        .banner-catalog {
            width: 1072px;
            height: 864px;
            margin-top: 24px;
            gap: 24px;

            .banner {
                width: 707px;
                height: 560px;
            }

            .big-sale {
                width: 341px;
                min-height: 560px;
                padding: 40px 0;

                .text .text-up {
                    font-size: 24px;
                    line-height: 29.76px;
                }

                .text .text-down {
                    font-size: 48px;
                    line-height: 57.6px;
                }

                .time {
                    gap: 16px;

                    &__days, &__hours, &__minutes, &__seconds {
                        gap: 8px;

                        &__number {
                            font-size: 48px;
                            line-height: 57.6px;
                        }
    
                        &__text {
                            font-size: 18px;
                            line-height: 21.6px;
                        }
                    }
                }                
            }

            .catalog {
                gap: 24px;

                .clothes, .shoes, .equipment {
                    width: 341px;
                    height: 280px;
    
                    .clothes-text, .shoes-text, .equipment-text {
                        margin-left: 24px;
                        margin-top: 24px;
                        font-size: 24px;
                        line-height: 29.76px;
                    }
                    .clothes-image {
                        width: 260px;
                        transform: scaleX(1.2);
                        height: 280px;
                        right: 7%;
                    }
                    .shoes-image {
                        right: -7%;
                    }
                    .equipment-image {
                        right: 11%;
                    }
                }
            }            
        }
        .list-filter-container {
            width: 89.33%;
            height: 65.67vw;
            margin: 88px auto 0 auto;
            gap: 32px;

            .heading {
                font-size: 40px;
                line-height: 48px;
            }
            .list-filter {
                gap: 24px;

                .filter {
                    width: 100%;
                    height: 58px;
    
                    .filter-category-and-price {
                        gap: 24px;

                        .filter-category {
                            width: 343px;
                            height: 58px;
                                    
                            .custom-select {
        
                                .select-selected-icon {                            
                                    height: 58px;
                                    padding: 15px 16px;
                                    gap: 8px;
        
                                    .select-selected {                                
                                        font-size: 1.67vw;
                                        line-height: 2.17vw;
                                    }
                                    .svg-dropdown {
                                        width: 24px;
                                        height: 24px;
                                    }
                                } 
                                .select-items {
                                    height: 16.7vw;
                                        
                                    .select-item {
                                        height: 3.17vw;
                                        font-size: 1.67vw;
                                        line-height: 2.17vw;
                                        padding: 0.58vw;

                                        .p-checkbox.p-component {
                                            width: 24px;
                                            height: 24px;

                                            .p-checkbox-input {
                                                width: 24px;
                                                height: 24px;
                                            }
                                        }
                                        
                                    }
                                }                                                       
                            }                    
                        }

                        .filter-price {
                            width: 128px;
                            height: 56px;
                            padding: 15px 24px;
                            gap: 10px;
                            font-size: 20px;
                            line-height: 26px;     
                        }
                            
                        .price-range {                              
                            width: 33.33vw;
                            padding: 24px;

                            .price-value {
                                gap: 8px;
                
                                .price-value-box {
                                    font-size: 1.67vw;
                                    line-height: 2.17vw;                                    
                                }
                            }
                        }
                    }   
    
                    .in-stock {
                        width: 36.5%;
                        height: 58px;
                        gap: 16px;
                        font-size: 1.67vw;
                        line-height: 2.17vw;
    
                        .switch-svg {
                            width: 4.33vw;
                            height: 2.33vw;
                        }
                    }
                }
                
            }
            
            .filter-selected {

                .filter-selected-category {                      
                    font-size: 1.67vw;
                    line-height: 2.17vw;

                    .svg-remove-icon {
                        width: 24px;
                        height: 24px;
                    }
                }
                .filter-selected-price {      
                    font-size: 1.67vw;
                    line-height: 2.17vw;                
                    
                    .svg-remove-icon {
                        width: 24px;
                        height: 24px;
                    }
                }
            }

            .list-filter {

                .icon-prev, .icon-next {
                    width: 56px;
                    height: 56px;
                }                
            }            

            .list-filter .list {
                height: auto;
                min-height: 52.33vw;

                .p-carousel-item-list {
                    gap: 24px;
                }

                .p-carousel {

                    .p-carousel-item {
                        flex: 0 0 31.82%;
                    }
                }
            }

            .list-filter .list .product-card {
                gap: 16px;
            }

            .list-filter .list .product-card .product-info {               
                gap: 12px;

                .product-price {
                    gap: 12px;
                    width: 17vw;
                }
                .current-price, .old-price, .product-description {
                    font-size: 1.67vw;
                    line-height: 2.17vw;
                }  
                .product-size {

                    .product-card-details-size-choise {
                        font-size: 1.67vw;
                        line-height: 2.17vw;
                    }
                } 
                .product-color {
                    .product-card-details-colors-list {
                        .product-card-details-colors-list-item {
                            width: 32px;
                            height: 32px;
                        }
                    }
                }
            }
        }
        .offer-container {
            width: 89.33%;
            height: auto;
            min-height: 664px; 
            margin: 88px auto 0 auto;
            padding: 40px;
            display: flex;
            gap: 40px;

            .offer-form {
                width: 67.24%;
                gap: 40px;

                .offer-form-text {
                    gap: 16px;

                    .offer-form-text-heading {
                        font-size: 40px;
                        line-height: 48px;
                    }
                    .offer-form-text-paragraph {
                        font-size: 20px;
                        line-height: 26px;
                    }
                }
            }
            
            .offer-form .offer-form-inputs-container {                
                gap: 24px;

                .offer-form-inputs {
                    gap: 16px;

                    .offer-form-input-wrapper {                        

                        .offer-form-input {
                            gap: 10px;
                            font-size: 20px;
                            line-height: 26px;
                            padding: 15px 16px;
                        }

                        .form-error {
                            font-size: 14px;
                        }
                    }
                    .offer-form-input {
                        height: 56px;
                        gap: 10px;
                        font-size: 20px;
                        line-height: 26px;
                    }
                    .offer-form-input::placeholder {
                        font-size: 20px;
                        line-height: 26px;
                    }

                    .custom-select  {
                        .select-selected-icon {
                            padding: 15px 16px;
                            gap: 8px;
                        }
                        .select-selected {
                            font-size: 20px;
                            line-height: 26px;
                        }

                        .select-items .select-item {
                            padding: 15px 16px;
                            height: 48px;
                        }

                        .select-items {
                            height: 200px;
                        }
                    }

                    .svg-dropdown {
                        width: 24px;
                        height: 24px;
                    }
                }

                .offer-form-rating {
                    gap: 24px;
                    font-size: 20px;
                    line-height: 26px;

                    .custom-radio {
                        gap: 16px;

                        .radio-mark {
                            width: 24px;
                            height: 24px;
                        }

                        .radio-input:checked + .radio-mark::after {
                            width: 24px;
                            height: 24px;
                            border: 9px solid #61AFD2;
                        }
                    }
                }

                .file-upload-container {
                    padding: 15px 16px;
                    gap: 8px;

                    .svg-clip {
                        width: 24px;
                        height: 24px;
                    }

                    .file-upload-label {
                        font-size: 20px;
                        line-height: 26px;
                    }
                }

                .file-upload-text {
                    .photo-file-name {
                        font-size: 20px;
                        line-height: 26px;
                    }
                    .svg-remove {
                        width: 24px;
                        height: 24px;
                    }
                }

                .offer-form-submit {
                    padding: 15px 16px;
                    gap: 10px;
                    font-size: 20px;
                    line-height: 26px;

                    .wait-svg {
                        width: 24px;
                        height: 24px;
                    }
                }
            }
        }
        .footer {
            margin: 88px auto 0 auto;
            padding: 27px 64px;
            font-size: 20px;
            line-height: 26px;
        }
        .auth-container-step-first, .auth-container-step-second {
            width: 500px;
            margin-left: calc((100% - 500px) / 2);
            top: 400px;
            padding: 40px;

            .auth-title {                
                font-size: 24px;
                line-height: 29.76px;
            }

            .auth-input-phone, .auth-input-code {
                height: 56px;
                padding: 15px 16px;
                font-size: 20px;
                line-height: 26px;
            }
            .auth-input-phone::placeholder, .auth-input-code::placeholder {
                font-size: 20px;
                line-height: 26px;
            }
            .form-error {
                font-size: 18px;
            }
            .button-code-submit, .button-agree, .button-code-submit-disabled, .button-agree-disabled {                
                min-height: 56px;
                padding: 15px 16px;
                font-size: 20px;
                line-height: 26px;
            }
            .code-timer, .code-send-again {
                font-size: 20px;
                line-height: 26px;
            }
            .wait-svg {
                width: 24px;
                height: 24px;
            }
        }        
        .popup-content {
            width: 89.33%;
            height: auto;
            min-height: 600px;            
            top: 400px;
            left: 5.334%;            
            padding: 40px;
            gap: 40px;

            .svg-close-popup {
                width: 32px;
                height: 32px;
            }
            
            .photos {
                width: 54.03%;
                height: 43.33vw;
                gap: 16px;
                flex-direction: row-reverse;

                .photo-zoom {
                    width: 74.25%;
                    height: auto;

                    .photo-zoom-image {
                        width: 100%;
                        height: 100%;
                    }
                }

                .photo-list {
                    width: 22.76%;
                    height: 13.1vw;
                    gap: 19px;
                    flex-direction: column;

                    .photo-list-item {
                        width: 100%;                 
                    }
                }
            }
            
            .product-card-details {
                justify-content: space-between;
                width: 41.93%;
                height: auto;
                gap: 24px;

                .product-card-details-title {
                    font-size: 2vw;
                    line-height: 2.5vw;
                }

                .product-card-details-colors {
                    gap: 1.33vw;

                    .product-card-details-colors-text {
                        font-size: 1.67vw;
                        line-height: 2.17vw;
                    }

                    .product-card-details-colors-list {
                        gap: 0.67vw;

                        .product-card-details-colors-list-item {
                            width: 2.67vw;
                            height: 2.67vw;
                        }
                    }
                }   
                
                .product-card-details-size {
                    gap: 1.33vw;

                    .product-card-details-size-text {
                        font-size: 1.67vw;
                        line-height: 2.17vw;
                    }
                    .product-card-details-size-choise {
                        gap: 1.33vw;
                        
                        .product-card-details-size-choise-item {
                            font-size: 1.67vw;
                            line-height: 2.17vw;
                        }
                    }
                }

                .product-card-details-description {
                    gap: 0.67vw;

                    .product-card-details-description-title, .product-card-details-description-text {
                        font-size: 1.67vw;
                        line-height: 2.17vw;
                    }
                }

                .product-card-details-price {
                    gap: 1.61vw;

                    .product-card-details-current-price, .product-card-details-old-price {
                        font-size: 2vw;
                        line-height: 2.5vw;
                    }
                }

                .product-card-details-button-add {
                    padding: 1.25vw 1.33vw;
                    gap: 0.83vw;
                    font-size: 1.67vw;
                    line-height: 2.17vw;

                    .wait-svg {
                        width: 2vw;
                        height: 2vw;
                    }
                }
            }
        }
    }
}