@media(min-width: 1920px) {
    body {
        .header {
            padding: 21px 128px;

            .heading {
                font-size: 32px;
                line-height: 38px;
            }
            .auth-icon, .exit-icon, .cart-icon {
                width: 32px;
                height: 32px;
            }
        }
        .banner-catalog {
            width: 86.67%;
            height: 48.13vw;
            margin-top: 24px;
            flex-direction: column;
            gap: 24px;

            .banner {
                width: 74.63%;
                height: 31.25vw;
            }

            .big-sale {
                width: 23.92%;
                height: 48.13vw;
                padding: 64px 0;
                justify-content: flex-end;
                order: 2;

                .text {
                    width: 100%;
                    gap: 16px;

                    .text-up {
                        font-size: 1.25vw;
                        line-height: 1.56vw;
                    }
                    .text-down {
                        font-size: 3.33vw;
                        line-height: 4vw;
                    }
                }

                .time {
                    gap: 24px;
                    margin-top: 10.42vw;

                    .time__days, .time__hours, .time__minutes, .time__seconds {
                        gap: 8px;
                    }

                    .time__days__number, .time__hours__number, .time__minutes__number, .time__seconds__number {
                        font-size: 2.5vw;
                        line-height: 3vw;
                    }
                    .time__days__text, .time__hours__text, .time__minutes__text, .time__seconds__text {
                        font-size: 1.04vw;
                        line-height: 1.35vw;
                    }
                }                
            }

            .catalog {
                width: 64.68vw;
                height: 15.62vw;
                gap: 24px;

                .clothes, .shoes, .equipment {
                    width: 20.72vw;
                    height: 15.63vw;
    
                    .clothes-text, .shoes-text, .equipment-text {
                        margin-left: 1.25vw;
                        margin-top: 1.25vw;
                        font-size: 1.25vw;
                        line-height: 1.55vw;

                    }
                    .clothes-image {    
                        width: 14.48vw;
                        height: 15.63vw;
                        transform: scaleX(1);
                        scale: 1.2;
                        right: 0%;
                    }
                    .shoes-image {
                        scale: 0.9;
                        right: 0%;
                    }
                    .equipment-image {
                        right: 6%;
                    }
                }
            }            
        }
        .list-filter-container {
            width: 86.67%;
            height: 46.15vw;
            margin: 96px auto 0 auto;
            gap: 40px;

            .heading {
                font-size: 48px;
                line-height: 57.6px;
            }
            .list-filter {
                height: 41.04vw;

                .filter {
                    
                    .filter-category-and-price {
                        width: 33%;

                        .filter-category {
                            width: 72.5%;
                            height: 56px;
                                    
                            .custom-select {
        
                                .select-selected-icon {                            
                                    height: 56px;
                                    padding: 15px 16px;
                                    gap: 8px;
        
                                    .select-selected {                                
                                        font-size: 20px;
                                        line-height: 26px;
                                    }
                                    .svg-dropdown {
                                        width: 24px;
                                        height: 24px;
                                    }
                                } 
                                
                                .select-items {
                                    height: 240px;

                                    .select-item {
                                        height: 50px;
                                        padding: 10px;
                                        gap: 8px;
                                        font-size: 20px;
                                        line-height: 26px;

                                        .p-component {
                                            width: 24px;
                                            height: 24px;
                                        }
                                        .p-checkbox-checked {
                                            
                                            .p-checkbox-input {
                                                width: 24px;
                                                height: 24px;
                                            }
                                            .p-checkbox-box {
                                                width: 24px;
                                                height: 24px;
                    
                                                .p-checkbox-icon {
                                                    width: 24px;
                                                    height: 24px;
                                                }
                                            }
                                        }
                                    }
                                }
                            }                    
                        }

                        .filter-price {
                            width: 23.13%;
                            height: 56px;
                            padding: 15px 24px;
                            gap: 10px;
                            font-size: 20px;
                            line-height: 26px;                            
                        }
                            
                        .price-range {                              
                            width: 600px;
                            padding: 38px;
                            gap: 34px;

                            .price-value {
                                gap: 8px;
                
                                .price-value-box {
                                    width: 180px;
                                    font-size: 20px;
                                    line-height: 26px;  
                                    font-family: 'Montserrat', sans-serif;                                  
                                }
                            }
                        }
                    }   
    
                    .in-stock {
                        width: 22.84%;
                        height: 28px;
                        gap: 16px;
                        font-size: 20px;
                        line-height: 26px;
    
                        .switch-svg {
                            width: 2.71vw;
                            height: 1.46vw;
                        }
                    }
                }
                
            }
            
            .filter-selected {

                .filter-selected-category {     
                    font-size: 20px;
                    line-height: 26px;                
                    
                    .svg-remove-icon {
                        width: 24px;
                        height: 24px;
                    }
                }
                .filter-selected-price {    
                    font-size: 20px;
                    line-height: 26px;                   
                    
                    .svg-remove-icon {
                        width: 24px;
                        height: 24px;
                    }
                }
            }

            .list-filter {

                .icon-prev, .icon-next {
                    width: 2.92vw;
                    height: 2.92vw;
                    top: 16vw;
                } 
                .icon-prev {       
                    left: -1.25vw;

                }
                .icon-next {                    
                    right: -1.25vw;
                }               
            }            

            .list-filter .list {
                height: auto;
                min-height: 708px;

                .p-carousel-item-list {
                    gap: 24px;
                }

                .p-carousel {

                    .p-carousel-item {
                        flex: 0 0 23.92%;
                    }
                }
            }

            .list-filter .list .product-card {
                gap: 16px;
            }

            .list-filter .list .product-card .product-info {               
                gap: 12px;
                
                .product-price {
                    gap: 12px;
                    width: 10vw;
                }
                .current-price, .old-price, .product-description {
                    font-size: 20px;
                    line-height: 26px;
                }  
                .product-size {
                    gap: 16px;

                    .product-card-details-size-choise {
                        font-size: 20px;
                        line-height: 26px;
                    }   
                } 
                .product-color {
                    .product-card-details-colors-list {
                        gap: 8px;
                        .product-card-details-colors-list-item {
                            width: 32px;
                            height: 32px;
                        }
                    }
                }
            }
        }
        .offer-container {
            width: 86.67%;
            min-height: 708px; 
            margin: 96px auto 0 auto;
            padding: 40px 64px;
            display: flex;
            justify-content: space-between;

            .offer-form {
                width: 50.78%;
                margin-top: 25px;
                gap: 40px;

                .offer-form-text {
                    gap: 16px;

                    .offer-form-text-heading {
                        font-size: 48px;
                        line-height: 57.6px;
                    }
                    .offer-form-text-paragraph {
                        font-size: 20px;
                        line-height: 26px;
                    }
                }
            }
            
            .offer-form .offer-form-inputs-container {                

                .offer-form-inputs {

                    .offer-form-input-wrapper {                       

                        .form-error {
                            font-size: 17px;
                            padding: 0;
                        }
                    }
                    .offer-form-input {
                        gap: 8px;

                    }
                    
                    .custom-select  {
                        .select-selected-icon {
                            gap: 8px;
                        }
                        .select-items .select-item {
                            height: 50px;
                        }                        
                    }
                }                
            }

            .offer-picture {
                width: 646px;
                height: 628px;
                display: block;
            }
        }
        .footer {
            margin: 96px auto 0 auto;
            padding: 27px 128px;
        }
        .auth-container-step-first, .auth-container-step-second {
            top: 500px;
        }        
        .popup-content {
            width: 1192px;
            height: 600px;
            top: 10px;
            left: 0;
            margin-left: calc((100% - 1192px) / 2);            
            
            .photos {
                width: 536px;
                height: 520px;
                gap: 16px;
                flex-direction: row-reverse;

                .photo-zoom {
                    width: 398px;
                    height: auto;
                    border-radius: 16px;

                    .photo-zoom-image {
                        width: 100%;
                        height: 100%;
                        border-radius: 16px;
                    }
                }

                .photo-list {
                    width: 122px;
                    height: 520px;
                    gap: 16px;
                    flex-direction: column;

                }
            }
            
            .product-card-details {
                justify-content: flex-start;
                width: 48.2%;
                height: auto;
                gap: 24px;

                .product-card-details-title {
                    font-size: 24px;
                    line-height: 29.76px;
                }

                .product-card-details-colors {
                    gap: 16px;

                    .product-card-details-colors-text {
                        font-size: 20px;
                        line-height: 26px;
                    }

                    .product-card-details-colors-list {
                        gap: 8px;

                        .product-card-details-colors-list-item {
                            width: 32px;
                            height: 32px;
                        }
                    }
                }   
                
                .product-card-details-size {
                    gap: 16px;

                    .product-card-details-size-text {
                        font-size: 20px;
                        line-height: 26px;
                    }
                    .product-card-details-size-choise {
                        gap: 16px;
                        
                        .product-card-details-size-choise-item {
                            font-size: 20px;
                            line-height: 26px;
                        }
                    }
                }

                .product-card-details-description {
                    gap: 8px;

                    .product-card-details-description-title, .product-card-details-description-text {
                        font-size: 20px;
                        line-height: 26px;
                    }
                }

                .product-card-details-price {
                    gap: 24px;

                    .product-card-details-current-price, .product-card-details-old-price {
                        font-size: 24px;
                        line-height: 29.76px;
                    }
                }

                .product-card-details-button-add {
                    padding: 15px 16px;
                    gap: 10px;
                    font-size: 20px;
                    line-height: 26px;

                    .wait-svg {
                        width: 24px;
                        height: 24px;
                    }
                }
            }
        }
    }
}