body {
    padding: 0;
    margin: 0;
    font-family: "Montserrat", sans-serif;
    background-color: #FFFFFF;
    box-sizing: border-box;

    .p-toast {
        width: 280px;
        font-size: 16px;
        line-height: 40px;
        border-radius: 10px;
        display: flex;
        justify-content: center;

        .p-toast-message {
            border: none;
            margin: 0;
            text-align: center;

            .p-toast-message-content {
                    justify-content: space-between;
                    padding: 0;

                    .p-icon.p-toast-message-icon {
                        display: none;
                    }
    
                    .p-toast-message-text {
                        width: 250px;
                    }
                }
            .p-toast-close-button {
                top: 10px;
                right: 0px;
            }
        }
    }
    .header {
        background-color: #0B0B0B;
        width: 100%;
        min-height: 64px;
        padding: 17px 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        .auth-icon, .exit-icon, .cart-icon {
            width: 24px;
            height: 24px;
            cursor: pointer;
        }
    
        .heading {
            color: #FFFFFF;
            text-transform: uppercase;
            font-weight: 700;
            font-size: 24px;
            line-height: 29.76px;
            margin: 0;
        }
    }
    .banner-catalog {
        margin: 20px auto 0 auto;
        width: 87.5%;
        display: flex;
        flex-wrap: wrap;
        gap: 16px;
    
        .banner {
            width: 100%;
            height: auto;
            border-radius: 16px;
        }

        .big-sale {
            width: 100%;
            min-height: 154px;
            border-radius: 16px;
            padding: 5vw 0;
            background-color: #61AFD2;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
    
            .text {
                width: 77.5%;
                height: auto;
                gap: 4px;
                display: flex;
                flex-direction: column;
                color: #FFFFFF;
                text-transform: uppercase;
                text-align: center;
                font-weight: 700;
    
                .text-up {
                    font-size: 14px;
                    line-height: 18.2px;
                    
                }
                .text-down {
                    font-size: 24px;
                    line-height: 29.76px;
                }
            }
            .sale-end {
                font-size: 24px;
                line-height: 29.76px;
                font-weight: 700;
                color: #FFFFFF;
                margin: 16px 0;
            }
            .time {
                width: auto;
                height: auto;
                margin-top: 24px;
                display: flex;
                flex-wrap: nowrap;
                justify-content: space-between;
                gap: 16px;
                color: #FFFFFF;

                &__days, &__hours, &__minutes, &__seconds {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    gap: 4px;

                    &__number {
                        font-size: 24px;
                        line-height: 29.76px;
                        font-weight: 700;
                    }

                    &__text {
                        font-size: 8px;
                        line-height: 11.52px;
                        font-weight: 400;
                    }
                }
            }
        }
        .catalog {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            gap: 16px;

            .clothes, .shoes, .equipment {
                width: 100%;
                height: 48.1vw;
                border-radius: 16px;
                background-color: #F5F5F5;
                display: flex;
                justify-content: space-between;
                overflow: hidden;
                
    
                .clothes-text, .shoes-text, .equipment-text {
                    margin-left: 5vw;
                    margin-top: 5vw;
                    font-size: 16px;
                    line-height: 22.4px;
                    font-weight: 700;
                    color: #0B0B0B;
                    text-transform: uppercase;
                }
    
                .clothes-image {
                    width: 53%;
                    height: 48vw;
                    border-top-right-radius: 16px;
                    border-bottom-right-radius: 16px;
                }
    
                .shoes-image {                
                    position: relative;
                    top: 10%;
                    right: 5%;
                    transform: scale(1.7);
                }
    
                .equipment-image {
                    position: relative;
                    top: 5%;
                    right: -10%;
                    transform: scale(1.3);
                }
            }
        }
    }
    .list-filter-container {
        width: 87.5%;
        height: auto;
        min-height: 338px;
        margin: 64px auto 0 auto;
        gap: 24px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .heading {
            font-size: 24px;
            line-height: 29.76px;
            font-weight: 700;
            text-transform: uppercase;
            color: #0B0B0B;
            margin: 0;
        }
        .list-filter {
            width: 100%;
            height: auto;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 16px;

            .icon-prev, .icon-next {
                display: none;
            }

            .filter-button {
                height: 40px;
                border-radius: 8px;
                border: none;
                padding: 11px 16px;
                background-color: #F5F5F5;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 10px;
                font-size: 14px;
                line-height: 18.2px;
                font-weight: 400;
                cursor: pointer;

                .filter-badge-icon {
                    width: 20px;
                    height: 20px;
                }
            }
            .filter-button:hover {
                border: 1px solid #61AFD2;
            }
            .filter-button:active {
                border: 1px solid #0B0B0B;
            }
            
            .list {
                width: 100%;
                height: auto;
                min-height: 228px;
                display: flex;
                justify-content: space-between;
                flex-wrap: nowrap;
                gap: 16px;
                overflow: hidden;

                .p-carousel-item-list {
                    gap: 8px;
                }

                .p-carousel {

                    .p-carousel-item {
                        flex: 0 0 47.2%;
                    }
                }

                .product-link {
                    text-decoration: none;
                }

                .p-carousel {
                    width: 100%;
                }

                .p-button {
                    display: none;
                }

                .product-card {
                    width: 100%;
                    height: auto;
                    min-height: 228px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    gap: 8px;

                    .product-image {
                        width: 100%;
                        height: auto;
                        border-radius: 16px;
                    }
                    .product-info {
                        width: 100%;
                        height: auto;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        gap: 4px;

                        .product-price {
                            width: 55%;
                            height: auto;
                            display: flex;
                            align-items: center;
                            gap: 1.2vw;
                        }

                        .current-price, .old-price, .product-description {
                            font-size: 2.5vw;
                            line-height: 3.4vw;
                            font-weight: 400;
                            color: #0B0B0B;
                            margin: 0;
                        }
                        .old-price {
                            text-decoration: line-through;
                            color: #707070;
                        }
                    }
                }
                    
            }
        }
    }
    .offer-container {
        width: 87.5%;
        margin: 64px auto 0 auto;
        height: auto;
        min-height: 650px;
        background-color: #E7F6FC;
        border-radius: 16px;
        padding: 5vw;
        gap: 16px;

        .offer-form {
            width: 100%;
            height: auto;
            display: flex;
            flex-direction: column;
            gap: 24px;

            .offer-form-text {
                width: 100%;
                height: auto;
                display: flex;
                flex-direction: column;
                gap: 8px;

                .offer-form-text-heading {
                    font-size: 24px;
                    line-height: 29.76px;
                    font-weight: 700;
                    text-transform: uppercase;
                    color: #0B0B0B;
                }
                .offer-form-text-paragraph {
                    font-size: 14px;
                    line-height: 18.2px;
                    font-weight: 400;
                    color: #0b0b0b;
                }
            }
            .offer-form-inputs-container {
                width: 100%;
                height: auto;
                display: flex;
                flex-direction: column;
                gap: 16px;

                .offer-form-inputs {
                    width: 100%;
                    height: auto;
                    display: flex;
                    flex-direction: column;
                    gap: 8px;
                    
                    .offer-form-input {
                        width: 100%;
                        height: 40px;
                        border-radius: 8px;
                        border: none;
                        padding: 11px 16px;
                        background-color: #FFFFFF;
                        gap:10px;
                        position: relative;
                        font-size: 14px;
                        line-height: 18.2px;
                        font-weight: 400;
                        color: #0B0B0B;
                        font-family: "Montserrat", sans-serif;
                        border: 1px solid transparent;
                    }
                    .offer-form-input::placeholder {
                        font-size: 14px;
                        line-height: 18.2px;
                        font-weight: 400;
                        color: #0B0B0B;
                        font-family: "Montserrat", sans-serif;
                    }

                    .offer-form-input:hover {
                        border: 1px solid #61AFD2;
                    }

                    .offer-form-input:focus {
                        border: 1px solid #0B0B0B;
                    }

                    .form-error {
                        width: 100%;
                        height: auto;
                        font-size: 12px;
                        background-color: rgb(247, 126, 126);
                        border-bottom-left-radius: 16px;
                        border-bottom-right-radius: 16px;
                        padding: 0 6px;
                        text-align: center;
                    }

                    .custom-select {
                        width: 100%;
                        position: absolute;
                        top: 0;
                        left: 0;
                        cursor: pointer;

                        .select-selected-icon {
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            padding: 10px 16px;
                            gap: 8px;
                        }

                        .select-selected {
                            cursor: pointer;
                            font-size: 14px;
                            line-height: 18.2px;
                            font-weight: 400;
                            color: #0B0B0B;
                        }
                        .select-items {
                            position: absolute;
                            width: 100%;
                            background-color: white;
                            border-radius: 8px;
                            z-index: 1;
                            overflow-y: auto;
                            height: 160px;
                            box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.25);

                            .select-item {
                                padding: 16px;
                                cursor: pointer;
                                gap: 10px;
                                display: flex;
                                align-items: center;
                                height: 25%;
                            }
                            .select-item:hover {
                                background-color: #F8F8FA;
                            }
                        }

                        .select-icon-svg {
                            position: absolute;
                            top: 0;
                            right: 0;
                        }
                    }

                    .select-icon-svg {
                        position: relative;
                        top: 30px;
                        left: 210px;
                    }
                }
                
                .offer-form-rating {
                    display: flex;
                    flex-direction: column;
                    font-size: 14px;
                    line-height: 18.2px;
                    font-weight: 400;
                    color: #0B0B0B;
                    gap: 16px;

                    .custom-radio {
                        display: flex;
                        align-items: center;
                        cursor: pointer;
                        gap: 8px;

                        .radio-input {
                            display: none;
                        }

                        .radio-mark {
                            width: 20px;
                            height: 20px;
                            background-color: #FFFFFF;
                            border: 1px solid #E6E6E6;
                            border-radius: 24px;                        
                            position: relative;
                        }
                        
                        .radio-input:checked + .radio-mark::after {
                            content: '';
                            width: 20px;
                            height: 20px;
                            background-color: #FFFFFF;
                            border: 7px solid #61AFD2;
                            border-radius: 24px;
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                            box-sizing: border-box;
                        }
                    }
                }
                .file-upload-container {
                    display: block;
                    width: 100%;
                    position: relative;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    gap: 8px;
                    background-color: #FFFFFF;
                    cursor: pointer;
                    padding: 10px 16px;
                    border-radius: 8px;
                    font-size: 14px;
                    line-height: 18.2px;
                    font-weight: 400;
                    color: #0B0B0B;
                    
                    .offer-form-upload {
                        display: none;
                    }
                    .file-upload-label {
                        width: 100%;
                        cursor: pointer;
                        display: block;
                        
                    }
                }
                .file-upload-text {
                    display: flex;
                    align-items: center;
                    gap: 5px;

                    .photo-file-name {
                        max-width: 85%;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        font-size: 14px;
                        line-height: 18.2px;
                        font-weight: 400;
                        color: #0B0B0B;
                    }
                    .svg-remove {
                        cursor: pointer;
                    }
                }

                .offer-form-submit {
                    width: 100%;
                    background-color: #61AFD2;
                    border: none;
                    border-radius: 8px;
                    padding: 11px 16px;
                    gap: 10px;
                    font-family: 'Montserrat', sans-serif;
                    font-size: 14px;
                    line-height: 18.2px;
                    font-weight: 400;
                    color: #FFFFFF;
                    cursor: pointer;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
                .offer-form-submit:hover {
                    background-color: #4497BC;
                }
                .offer-form-submit:active {
                    background-color: #61AFD2;
                }
            }
        }
        .offer-picture {
            width: 646px;
            height: 628px;
            display: none;
        }
    }
    .footer {
        width: 100%;
        height: auto;
        min-height: 64px;
        margin: 20vw 0 0 0;
        padding: 4.4vw 6.25vw;
        gap: 675px;
        background-color: #0B0B0B;
        font-size: 4.4vw;
        line-height: 5.7vw;
        font-weight: 400;
        color: #FFFFFF;
    }

    .filter-container {
        width: 100%;
        height: auto;
        min-height: 568px;
        position: absolute;
        top: 0;
        left: 0;
        background-color: #FFFFFF;
        padding: 6.25vw;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 6.25vw;

        .title {
            width: 100%;
            height: auto;
            min-height: 22px;
            display: flex;
            justify-content: space-between;
            font-size: 5vw;
            line-height: 6.9vw;
            font-weight: 700;
            color: #0B0B0B;
            text-transform: uppercase;
        }
        .category {
            width: 100%;
            height: auto;
            min-height: 226px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            font-size: 4.4vw;
            line-height: 5.7vw;
            font-weight: 500;
            color: #0B0B0B;
            gap: 2.5vw;

            .checkbox {
                width: 100%;
                height: 62.5vw;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: flex-start;
                overflow: scroll;

                .checkbox-item {
                    width: 100%;
                    height: 12.5vw;
                    padding: 3.1vw 0;
                    display: flex;
                    align-items: center;
                    gap: 2.5vw;
                    font-weight: 400;

                    .p-component {
                        width: 6.25vw;
                        height: 6.25vw;
                        border-radius: 1.25vw;
                        border: 0.3vw solid #E6E6E6;
                    }
                    .p-checkbox-checked {
                        background-color: #61AFD2;
                        
                        .p-checkbox-input {
                            width: 6.25vw;
                            height: 6.25vw;
                        }
                        .p-checkbox-box {
                            width: 6.25vw;
                            height: 6.25vw;

                            .p-checkbox-icon {
                                color: #FFFFFF;
                                width: 4vw;
                                height: 4vw;
                            }
                        }                        
                    }
                }
            }
        }

        .price {
            width: 100%;
            height: auto;
            min-height: 122px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 2.5vw;
            font-size: 4.4vw;
            line-height: 5.7vw;
            font-weight: 500;

            .price-range {
                width: 100%;
                height: auto;
                min-height: 96px;
                border-radius: 16px;
                padding-top: 5vw;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                gap: 5vw;

                .slider-range {
                    width: 100%;
                    height: 1.87vw;                  
                    background-color: #F5F5F5;   
                    border-radius: 16px;                 
                    
                    .p-slider-range {
                        background-color: #61AFD2;
                        height: 1.9vw;                        
                    }
                    .p-slider-handle {
                        background-color: #61AFD2;
                        width: 7.5vw;
                        height: 7.5vw;
                        border-radius: 50%;
                        transform: translate(-3.75vw, -3.75vw);
                    }                    
                }
            }
            
            .price-value {
                width: 100%;
                height: auto;
                min-height: 40px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: 2.5vw;

                .price-value-box {
                    width: 38.1vw;
                    height: auto;
                    min-height: 40px;
                    background-color: #F5F5F5;
                    padding: 3.4vw 5vw;
                    border-radius: 2.5vw;
                    gap: 3.1vw;
                    font-size: 4.4vw;
                    line-height: 5.7vw;
                    font-weight: 400;
                }
            }
        }
        .in-stock {
            width: 97.6%;
            margin-right: auto;
            height: auto;
            min-height: 24px;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            font-size: 4.3vw;
            line-height: 5.7vw;
            font-weight: 400;
            gap: 2.4vw;

            .switch-svg {
                cursor: pointer;
            }            
        }
        .button-apply {
            width: 100%;
            height: auto;
            min-height: 40px;
            background-color: #61AFD2;
            padding: 3.4vw 5vw;
            border: none;
            border-radius: 2.5vw;
            gap: 3.1vw;
            font-family: 'Montserrat', sans-serif;
            font-size: 4.4vw;
            line-height: 5.7vw;
            font-weight: 400;
            color: #FFFFFF;
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .button-apply:hover {
            background-color: #4497BC;
        }
        .button-apply:active {
            background-color: #61AFD2;
        }
    }
    .auth-background {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #0B0B0B;
        opacity: 20%;
        z-index: 1;
    }    
    .auth-container-step-first, .auth-container-step-second {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        height: auto;
        min-height: 220px;
        background-color: #F5F5F5;
        border-top-left-radius: 16px;
        border-top-right-radius: 16px;
        padding: 6.25vw;
        gap: 16px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        z-index: 2;

        .auth-title {
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 5vw;
            line-height: 6.9vw;
            font-weight: 700;
            color: #0B0B0B;
            text-transform: uppercase;
        }

        .svg-close-auth {
            position: absolute;
            top: 6.25vw;
            right: 6.25vw;
        }
        .auth-input-phone, .auth-input-code {
            width: 100%;
            height: 12.5vw;
            border-radius: 8px;
            border: none;
            padding: 3.4vw 5vw;
            background-color: #FFFFFF;
            gap: 3.1vw;
            position: relative;
            font-size: 4.4vw;
            line-height: 5.7vw;
            font-weight: 400;
            color: #0B0B0B;
            font-family: "Montserrat", sans-serif;
        }
        .auth-input-phone::placeholder, .auth-input-code::placeholder {
            font-size: 4.4vw;
            line-height: 5.7vw;
            font-weight: 400;
            color: #0B0B0B;
            font-family: "Montserrat", sans-serif;
        }

        .auth-input-phone:hover, .auth-input-code:hover {
            border: 1px solid #61AFD2;
        }

        .auth-input-phone:focus, .auth-input-code:focus {
            border: 1px solid #0B0B0B;
        }
        .form-error {
            width: 100%;
            height: auto;
            font-size: 3.75vw;
            background-color: rgb(247, 126, 126);
            border-bottom-left-radius: 16px;
            border-bottom-right-radius: 16px;
            padding: 0 2vw;
            text-align: center;
        }

        .button-code-submit, .button-agree, .button-code-submit-disabled, .button-agree-disabled {
            width: 100%;
            height: auto;
            min-height: 40px;
            background-color: #61AFD2;
            padding: 3.4vw 5vw;
            border: none;
            border-radius: 2.5vw;
            gap: 3.1vw;
            font-family: 'Montserrat', sans-serif;
            font-size: 4.4vw;
            line-height: 5.7vw;
            font-weight: 400;
            color: #FFFFFF;
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .button-code-submit:hover, .button-agree:hover {
            background-color: #4497BC;
        }
        .button-code-submit:active, .button-agree:active {
            background-color: #61AFD2;
        }
        .button-code-submit-disabled, .button-agree-disabled {
            opacity: 0.4;
            cursor: auto;
        }
        .code-timer, .code-send-again {
            width: 100%;
            height: auto;
            font-size: 4.3vw;
            line-height: 5.7vw;
            font-weight: 400;
        }
        .code-send-again {
            cursor: pointer;
        }
        .wait-svg {
            width: 6.25vw;
            height: 6.25vw;
        }
    }
    .auth-container-step-first {
        min-height: 182px;
    }
    .product-card-details {
        width: 100%;
        height: auto;
        min-height: 800px;
        padding: 6.25vw;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 6.25vw;

        .product-card-details-title {
            width: 100%;
            height: auto;
            min-height: 44px;
            display: flex;
            justify-content: space-between;
            font-size: 5vw;
            line-height: 7vw;
            font-weight: 700;
            color: #0B0B0B;
            text-transform: uppercase;
        }
        .product-card-details-image {
            width: 100%;
            height: auto;
            min-height: 360px;
            border-radius: 5vw;
        }
        .product-card-details-colors {
            width: 37.5%;
            height: auto;
            min-height: 50px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 2.5vw;

            .product-card-details-colors-text {
                font-size: 4.4vw;
                line-height: 5.7vw;
                font-weight: 500;
                color: #0B0B0B;
            }
            .product-card-details-colors-list {
                width: 100%;
                height: auto;
                min-height: 24px;
                display: flex;
                justify-content: space-between;
                gap: 2.5vw;

                .product-card-details-colors-list-item {
                    width: 7.5vw;
                    height: 7.5vw;
                    gap: 3.1vw;
                    cursor: pointer;
                    border-width: 1px;
                    border-style: solid;
                    border-radius: 50%;
                }
                
            }
        }
        .product-card-details-size {
            width: 100%;
            height: auto;
            min-height: 44px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 2.5vw;

            .product-card-details-size-text {
                font-size: 4.4vw;
                line-height: 5.7vw;
                font-weight: 500;
                color: #0B0B0B;
            }
            .product-card-details-size-choise {
                width: 100%;
                height: auto;
                min-height: 18px;
                display: flex;
                justify-content: flex-start;
                gap: 5vw;

                .product-card-details-size-choise-item {
                    cursor: pointer;
                    font-size: 4.4vw;
                    line-height: 5.7vw;
                    font-weight: 400;
                    color: #0B0B0B;
                }
            }
        }
        .product-card-details-description {
            width: 100%;
            height: auto;
            min-height: 80px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 2.5vw;

            .product-card-details-description-title {
                font-size: 4.4vw;
                line-height: 5.7vw;
                font-weight: 500;
                color: #0B0B0B;
            }
            .product-card-details-description-text {
                font-size: 4.4vw;
                line-height: 5.7vw;
                font-weight: 400;
                color: #0B0B0B;
            }
        }
        .product-card-details-price {
            width: 100%;
            height: auto;
            min-height: 22px;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: 5vw;

            .product-card-details-current-price {
                font-size: 5vw;
                line-height: 7vw;
                font-weight: 700;
                color: #0B0B0B;
            }
            .product-card-details-old-price {
                font-size: 5vw;
                line-height: 7vw;
                font-weight: 400;
                color: #707070;
                text-decoration: line-through;
            }            
        }
        .product-card-details-button-add {
            width: 100%;
            height: auto;
            min-height: 40px;
            background-color: #61AFD2;
            padding: 3.5vw 5vw;
            border: none;
            border-radius: 8px;
            gap: 3.1vw;
            font-family: 'Montserrat', sans-serif;
            font-size: 4.4vw;
            line-height: 5.7vw;
            font-weight: 400;
            color: #FFFFFF;
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .product-card-details-button-add:hover {
            background-color: #4497BC;
        }
        .product-card-details-button-add:active {
            background-color: #61AFD2;
        }
        .wait-svg {
            width: 6.25vw;
            height: 6.25vw;
        }
    }
}
@media(max-width: 768px) {
    body .list-filter-container .filter {
        display: none;
    }
}