@media(min-width: 992px) {
    body {
        .header {
            padding: 21px 40px;

            .heading {
                font-size: 32px;
                line-height: 38px;
            }
            .auth-icon, .exit-icon, .cart-icon {
                width: 32px;
                height: 32px;
            }
        }
        .banner-catalog {
            width: 91.94%;

            .banner {
                width: 66.11%;
                height: 50.4vw;
            }

            .big-sale {
                width: 32.1%;
                min-height: 500px;
                padding: 32px 0;

                .text {
                    gap: 8px;

                    .text-up {
                        font-size: 2.02vw;
                        line-height: 2.82vw;
                    }
                    .text-down {
                        font-size: 4.03vw;
                        line-height: 4.84vw;
                    }
                }

                .time {
                    gap: 8px;
                    &__days, &__hours, &__minutes, &__seconds {
    
                        &__number {
                            font-size: 4.2vw;
                            line-height: 5vw;
                        }
    
                        &__text {
                            font-size: 1.8vw;
                            line-height: 2.4vw;
                        }
                    } 
                }                
            }

            .catalog {
                gap: 16px;

                .clothes, .shoes, .equipment {
                    width: 32.13%;
                    height: 24.19vw;
    
                    .clothes-text, .shoes-text, .equipment-text {
                        margin-left: 2.02vw;
                        margin-top: 2.02vw;
                        font-size: 2.1vw;
                        line-height: 2.9vw;
                    }
                    .clothes-image {
                        width: 24.38vw;
                        height: 24.19vw;
                        right: 8%;
                    }
                    .shoes-image {
                        right: 6%;
                    }
                    .equipment-image {
                        right: 10%;
                    }
                }
            }            
        }
        .list-filter-container {
            width: 91.94%;
            height: 71.17vw;
            margin: 80px auto 0 auto;
            gap: 32px;

            .heading {
                font-size: 32px;
                line-height: 38.4px;
            }
            .list-filter {
                gap: 16px;

                .filter {
                    width: 100%;
                    height: 48px;
    
                    .filter-category-and-price {
    
                        .filter-category {
                            width: 71.4%;
                            height: 48px;
                                    
                            .custom-select {
        
                                .select-selected-icon {                            
                                    height: 48px;
                                    padding: 1.21vw 1.61vw;
                                    gap: 8px;
        
                                    .select-selected {                                
                                        font-size: 1.82vw;
                                        line-height: 2.18vw;
                                    }
                                    .svg-dropdown {
                                        width: 24px;
                                        height: 24px;
                                    }                                    
                                } 
                                .select-items {
                                        
                                    .select-item {
                                        height: 4.54vw;
                                        font-size: 1.82vw;
                                        line-height: 2.18vw;
                                        padding: 0.71vw;
                                    }
                                }                                                      
                            }                    
                        }

                        .filter-price {
                            width: 28.68%;
                            height: 48px;
                            padding: 1.31vw 2.42vw;
                            font-size: 1.82vw;
                            line-height: 2.18vw;                            
                        }
                            
                        .price-range {                              
                            
                            .price-value {
                                gap: 8px;
                
                                .price-value-box {
                                    font-size: 2.02vw;
                                    line-height: 2.62vw;                                    
                                }
                            }
                        }
                    }   
    
                    .in-stock {
                        width: 37.83%;
                        height: 48px;
                        gap: 12px;
                        font-size: 1.82vw;
                        line-height: 2.18vw;
    
                        .switch-svg {
                            width: 5.24vw;
                            height: 2.82vw;
                        }
                    }
                }
                
            }
            
            .filter-selected {
                width: 100%;
                height: auto;
                min-height: 20px;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                gap: 24px;

                .filter-selected-category {                      
                    
                    .svg-remove-icon {
                        width: 24px;
                        height: 24px;
                    }
                }
                .filter-selected-price {                      
                    
                    .svg-remove-icon {
                        width: 24px;
                        height: 24px;
                    }
                }
            }

            .list-filter {
                position: relative;

                .icon-prev, .icon-next {
                    display: block;
                    width: 4.84vw;
                    height: 4.84vw;
                    position: absolute;
                    z-index: 1;
                    top: 24vw;
                }
                .icon-prev {       
                    left: -2.42vw;

                }
                .icon-next {                    
                    right: -2.42vw;
                }
                .icon-prev:hover, .icon-next:hover {
                    cursor: pointer;
                }
            }            

            .list-filter .list {
                height: auto;
                min-height: 58.18vw;

                .p-carousel-item-list {
                    gap: 16px;
                }

                .p-carousel {

                    .p-carousel-item {
                        flex: 0 0 32.13%;
                    }
                }
            }

            .list-filter .list .product-card .product-info {               

                .product-price {
                    width: 17vw;
                }
                .current-price, .old-price, .product-description {
                    font-size: 1.82vw;
                    line-height: 2.18vw;
                }  
                .product-size {

                    .product-card-details-size-choise {
                        display: flex;
                        justify-content: flex-start;
                        font-size: 1.82vw;
                        line-height: 2.18vw;
                        gap: 16px;
                    }
                } 
                .product-color {
                    .product-card-details-colors-list {
                        .product-card-details-colors-list-item {
                            width: 32px;
                            height: 32px;
                        }
                    }
                }
            }
        }
        .offer-container {
            width: 91.94%;
            height: auto;
            min-height: 576px;
            margin: 80px auto 0 auto;
            padding: 40px;
            gap: 40px;

            .offer-form {
                gap: 40px;

                .offer-form-text {
                    gap: 16px;

                    .offer-form-text-heading {
                        font-size: 32px;
                        line-height: 38.4px;
                    }
                    .offer-form-text-paragraph {
                        font-size: 18px;
                        line-height: 21.6px;
                    }
                }
            }
            
            .offer-form .offer-form-inputs-container {                
                gap: 24px;

                .offer-form-inputs {
                    gap: 16px;

                    .offer-form-input-wrapper {
                        width: 48.7%;
                        min-height: 40px;                            

                        .offer-form-input {
                            gap: 10px;
                            font-size: 1.82vw;
                            line-height: 2.18vw;
                            padding: 1.31vw 1.61vw;
                        }

                        .form-error {
                            font-size: 1.82vw;
                        }
                    }
                    .offer-form-input {
                        width: 48.7%;
                        height: 4.84vw;
                        padding: 0;
                        gap: 13px;
                        font-size: 1.82vw;
                        line-height: 2.18vw;
                    }
                    .offer-form-input::placeholder {
                        font-size: 1.82vw;
                        line-height: 2.18vw;
                    }

                    .custom-select  {
                        .select-selected-icon {
                            min-height: 48px;
                            padding: 1.21vw 1.61vw;
                            gap: 8px;
                        }
                        .select-selected {
                            font-size: 1.82vw;
                            line-height: 2.18vw;
                        }

                        .select-items .select-item {
                            padding: 2.08vw;
                            height: 5.21vw;
                        }

                        .select-items {
                            height: 20.83vw;
                        }
                    }

                    .svg-dropdown {
                        width: 24px;
                        height: 24px;
                    }
                }

                .offer-form-rating {
                    gap: 24px;
                    font-size: 1.82vw;
                    line-height: 2.18vw;

                    .custom-radio {
                        gap: 12px;

                        .radio-mark {
                            width: 24px;
                            height: 24px;
                        }

                        .radio-input:checked + .radio-mark::after {
                            width: 24px;
                            height: 24px;
                            border: 0.91vw solid #61AFD2;
                        }
                    }
                }

                .file-upload-container {
                    min-height: 48px;
                    padding: 1.21vw 1.61vw;
                    gap: 8px;

                    .svg-clip {
                        width: 24px;
                        height: 24px;
                    }

                    .file-upload-label {
                        font-size: 1.82vw;
                        line-height: 2.18vw;
                    }
                }

                .file-upload-text {
                    .photo-file-name {
                        font-size: 1.82vw;
                        line-height: 2.18vw;
                    }
                    .svg-remove {
                        width: 24px;
                        height: 24px;
                    }
                }

                .offer-form-submit {
                    width: 48.8%;
                    min-height: 48px;
                    padding: 1.31vw 1.61vw;
                    gap: 10px;
                    font-size: 1.82vw;
                    line-height: 2.18vw;

                    .wait-svg {
                        width: 24px;
                        height: 24px;
                    }
                }
            }
        }
        .footer {
            margin: 80px auto 0 auto;
            padding: 29px 40px;
            font-size: 18px;
            line-height: 21.6px;
        }        
        .popup-content {
            width: 91.93%;
            height: auto;
            min-height: 730px;            
            top: 300px;
            left: 4.033%;            
            padding: 32px;
            gap: 32px;

            .svg-close-popup {
                width: 24px;
                height: 24px;
            }
            
            .photos {
                width: 45.75%;
                height: auto;
                padding: 0;
                gap: 16px;

                .photo-zoom {
                    width: 100%;
                    height: 52.42vw;
                    border-radius: 16px;

                    .photo-zoom-image {
                        width: 100%;
                        height: 100%;
                        border-radius: 16px;
                    }
                }

                .photo-list {
                    width: 100%;
                    height: 13.1vw;
                    gap: 16px;

                    .photo-list-item {
                        width: 30.4%;                 
                    }
                }
            }
            
            .product-card-details {
                justify-content: flex-start;
                width: 50.47%;
                height: auto;
                padding: 0;
                gap: 24px;

                .product-card-details-title {
                    font-size: 20px;
                    line-height: 28px;
                }

                .product-card-details-colors {
                    gap: 16px;

                    .product-card-details-colors-text {
                        font-size: 1.82vw;
                        line-height: 2.18vw;
                    }

                    .product-card-details-colors-list {
                        gap: 8px;

                        .product-card-details-colors-list-item {
                            width: 32px;
                            height: 32px;
                        }
                    }
                }   
                
                .product-card-details-size {
                    gap: 16px;

                    .product-card-details-size-text {
                        font-size: 1.82vw;
                        line-height: 2.18vw;
                    }
                    .product-card-details-size-choise {
                        gap: 16px;
                        
                        .product-card-details-size-choise-item {
                            font-size: 2.02vw;
                            line-height: 2.62vw;
                        }
                    }
                }

                .product-card-details-description {
                    gap: 16px;

                    .product-card-details-description-title, .product-card-details-description-text {
                        font-size: 1.82vw;
                        line-height: 2.18vw;
                    }
                }

                .product-card-details-price {
                    gap: 16px;

                    .product-card-details-current-price, .product-card-details-old-price {
                        font-size: 2.02vw;
                        line-height: 2.82vw;
                    }
                }

                .product-card-details-button-add {
                    padding: 1.31vw 1.61vw;
                    gap: 10px;
                    font-size: 1.82vw;
                    line-height: 2.18vw;

                    .wait-svg {
                        width: 24px;
                        height: 24px;
                    }
                }
            }
        }
    }
}